.table {
    margin: 20px 0;
}
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 2000px;
    font-size: 12px;
}
table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
    /* width: 300px; */
}
table tr:nth-child(even){
    background-color: #f2f2f2;
}
table tr:hover {
    background-color: #ddd;
}
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #5182ca;
    color: white;
}

.table th:nth-child(9),
.table td:nth-child(9) {
    width: 300px !important;
}

.container{
    margin: 10px;
}

.filter-btn{
    width: 250px;
    height: 40px;
    padding: 5px;
    cursor: pointer;
    font-size: 16px;
}

.limenu{
    font-size: 16px;
    cursor: pointer;
    width: 250px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c5d9f0;
    border-bottom: 1px solid rgb(66, 66, 66);
    border-right: 1px solid rgb(66, 66, 66);
    border-left: 1px solid rgb(66, 66, 66);
    /* style={{marginTop:"5px", cursor:"pointer" }} */
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
  }
  
  .modal-open-button, .modal-close-btn {
    cursor: pointer;
    margin-left: auto;
  }
  
  .modal-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: rgba(117, 117, 117, 0.002); */
  }
  
  .modal-content {
    position: absolute;
    background-color: rgb(184, 205, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 400px;
    height: 200px;
    font-size: 20px;
    border: 2px solid rgb(115, 151, 201);
  }