.table {
    margin: 20px 0;
}
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;
}
table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}
table tr:nth-child(even){
    background-color: #f2f2f2;
}
table tr:hover {
    background-color: #ddd;
}
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #5182ca;
    color: white;
}

.container{
    margin: 10px;
}

.filter-btn{
    width: 300px;
    height: 40px;
    padding: 5px;
    cursor: pointer;
    font-size: 16px;
}

.limenu{
    font-size: 16px;
    cursor: pointer;
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c5d9f0;
    border-bottom: 1px solid rgb(66, 66, 66);
    border-right: 1px solid rgb(66, 66, 66);
    border-left: 1px solid rgb(66, 66, 66);
    /* style={{marginTop:"5px", cursor:"pointer" }} */
}