@charset "UTF-8";

@charset "UTF-8";
/* Color */

* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: border-box;
}

body {
  line-height: 1.25;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.5px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  display: block;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}

/* 테이블 스타일 초기화 */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
}

td {
  word-wrap: break-word;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

legend,
caption {
  visibility: hidden;
  overflow: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

address,
caption,
em,
var {
  font-style: normal;
  font-weight: inherit;
}

strong {
  font-weight: 700;
}

/* 링크 */
a {
  color: inherit;
  text-decoration: none;
}

pre {
  font-family: inherit;
  white-space: pre-wrap;
}

/* 이미지, 폼관련 요소 */
img {
  border: 0;
  vertical-align: top;
  width: 100%;
}

select,
input,
textarea {
  width: 100%;
  vertical-align: middle;
  box-shadow: none;
  border-radius: 0;
  outline: none;
  border: 0;
  background: #fff;
  color: #89868d;
}
select{
  border:1px solid #000;
  border-radius:4px;
  height:32px;line-height:32px;
  color:#6e6e6e;
}
input[type="text"],
input[type="submit"],
input[type="pwd"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="reset"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="file"],
input[type="email"],
input[type="tel"] {
  padding: 0 22px;
  height: 46px;
  line-height: 46px;
  border: 1px solid #6e6e6e;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 400;
}

input[type="radio"],
input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
textarea:focus {
  border-color: #6e6e6e;
  color:  #6e6e6e;
  background-color: #fff;
  outline: none;
}

input[type="text"]:hover,
input[type="password"]:hover,
input[type="tel"]:hover,
input[type="email"]:hover,
input[type="search"]:hover,
textarea:hover {
  border-color: #6e6e6e;
  background-color: #fff;
  outline: none;
}

input[readonly] {
  pointer-events: none;
}

::-webkit-input-placeholder {
  font-size: inherit;
  color: #6e6e6e;
}

::placeholder {
  font-size: inherit;
  color: #6e6e6e;
}

textarea {
  overflow: auto;
  padding: 22px;
  resize: none;
  font-size: 14px;
  border: 1px solid  #6e6e6e;
}

button {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  background: none;
  cursor: pointer;
  color: inherit;

  /* outline: none; */
  &:disabled {
    cursor: default;
  }
}

.hidden {
  position: absolute;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  visibility: hidden;
}

/* 크롬의 경우 */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

::-moz-selection {
  background:  #6e6e6e;
  color: #fff;
}

::selection {
  background: #6e6e6e;
  color: #fff;
}
/* scroll */
::-webkit-scrollbar {
  width: 14px;
  height: 2px;
}

::-webkit-scrollbar-track {
  border: 1px solid #e7e7e7;
}

::-webkit-scrollbar-thumb {
  background:#6e6e6e;
  border-radius: 14px;
}


.btn-type{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;

  transition: 0.3s;
  border:1px solid #6e6e6e;
  min-width: 100px;
  height: 40px;
  line-height: 40px;
  border-radius: 4px;
  background-color: #6e6e6e;
  font-size: 16px;
  color: #fff;
}

.btn-type:hover{
  /* color: #000; */
  border: none;
  background-color: #8ca2f1;
}

.guide-wrap +.guide-wrap{margin-top:10px;}

.check-box { display: inline-block; min-width:50px; margin-top:10px; text-align: left; }

.check-box:first-child { margin-top: 0; }

.check-box input[type="checkbox"], .check-box input[type="radio"] { display: none; }

.check-box label { vertical-align: middle; font-size:16px; }

.check-box label > strong { margin-left: 4px; color: #999; font-weight: 500; }

.check-box .checkbox { display: inline-block; position: relative; width: 34px; height: 34px; line-height:30px;margin-right: 7px; border: 1px solid #d7d7d7; background-color: #fff; }
.check-box .checkbox span{display:inline-block;vertical-align:middle; margin-left:35px;}
.check-box input[type="checkbox"] + .checkbox:after { content: ""; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 34px; height: 34px; background-image: url("../../styles/icon/check.svg"); background-size: cover; }

.check-box input[type="checkbox"]:checked ~ .checkbox { border-color: #587cfe; }

.check-box input[type="checkbox"]:checked ~ .checkbox:after { background-image: url("../../styles/icon/check_b.svg"); }

.check-box input[type="radio"] + .checkbox { width: 30px; height: 30px; border-radius: 50%; }

.check-box input[type="radio"] + .checkbox:after { content: ""; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%) scale(1); transform: translate(-50%, -50%) scale(1); width: 10px; height: 10px; background-color: #587cfe; border-radius: 50%; -webkit-transform: translate(-50%, -50%) scale(0); transform: translate(-50%, -50%) scale(0); -webkit-transition: .3s; transition: .3s; }

.check-box input[type="radio"]:checked ~ .checkbox:after { -webkit-transform: translate(-50%, -50%) scale(1); transform: translate(-50%, -50%) scale(1); }

.check-box.selected input[type="radio"] + .checkbox:after { -webkit-transform: translate(-50%, -50%) scale(1); transform: translate(-50%, -50%) scale(1); }

.check-box.invalid .checkbox { border-color: #f73636; }

.check-box.invalid .checkbox { border-color: #f73636; }