.header-wrap{
    display:flex;
    margin-bottom: 20px;
    align-items:center;
    background-color: #f4f5f7;
    padding: 15px;
    width:100%;
    z-index: 10;
}

.text-type{
    display: flex;
    width: 100%;
    font-size: 25px;
    margin-left: 15px;
    font-weight: 600;
}

.text-user{
    display: flex;
    width: 100%;
    margin-right: 30px;
    justify-content: flex-end;
}

.filter-wrap{
    display:flex;
    margin:20px;
    align-items:center;
    background-color: #f4f5f7;
    justify-content: space-around;
    padding: 15px;
    border-radius: 12px;
    flex-direction: column;
    max-width: 1800px;
    z-index: 10;
}
.btn-filter{
    font-weight: bold;
    width: 190px;
}
.btn-search{
    background-color: #6e6e6e !important;
    font-weight: bold;
    margin-left: 8px;
}
.filter-required{
    display:flex;
    width: 100%;
}
.filter-selection{
    display:flex;
    width: 100%;
    margin-top: 20px;
}
.filter-wrap .btn-type{
    padding:0 20px; border-radius: 8px;
    background-color: #587cfe; border: none;
    box-shadow: 0px 0px 5px 0px rgba(138, 138, 138, 0.3);
}
.filter-wrap  input[type='text']{
    margin-bottom:0; 
    width: 190px;
    height: 30px;
    padding: 20px;
    cursor: text;
    font-size: 16px;
    border: none;
    color: #424242;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(138, 138, 138, 0.3);
}
.search-wrap input::placeholder {
    color: #8f8f8f;
}
.search-wrap input:-ms-input-placeholder {
    color: #8f8f8f;
}

.search-wrap input::-ms-input-placeholder {
    color: #8f8f8f;
}
.table {
    margin: 20px 0;
}
.search-wrap{
    display:flex;
    color: #424242;
    width: 100%;
    align-items:center;
    justify-content: flex-end;

}
.guide-wrap{
    display:flex;
    justify-content:space-between;align-items:center;
}
.table-wrap .btn-type{font-size:12px;line-height:30px;height:30px;min-width:50px; z-index: 10;}
.guide-wrap+select{margin-top:10px;}
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width:100%;table-layout:fixed;
    font-size: 13px;
    letter-spacing: 0.01em;
}
table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}
table .img-wrap{width:400px;}
table tr:nth-child(even){
    background-color: #f2f2f29c;
}
table tr:hover {
    background-color: #ddd;
}
table th {
    border-top: none !important;
    padding-top: 10px;
    padding-bottom: 8px;
    text-align: left;
    background-color: #6e6e6e;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 7;
}

.no-data{padding:100px 0;text-align:center;}

.filter-btn{
    width: 200px;
    height: 40px;
    padding: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #424242;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(138, 138, 138, 0.3);
    margin-right: 20px;
}

.filter-btn-sub{
    position: relative;
    width: 160px;
    height: 40px;
    padding: 2px;
    cursor: pointer;
    font-size: 14px;
    color: #424242;
    /* margin-right: 2px; */
    border: none;
}

.filter-btn-sub::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 90%;
    height: 3px;
    background-color: #6088b6;
}

.limenu{
    font-size: 16px;
    cursor: pointer;
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-top: 1px solid rgb(219, 219, 219);
    border-bottom: 1px solid rgb(219, 219, 219);;
    border-right: 2px solid rgb(219, 219, 219);
    border-left: 2px solid rgb(219, 219, 219);
}

.limenu-sub{
    font-size: 14px;
    cursor: pointer;
    width: 160px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-top: 1px solid rgb(219, 219, 219);
    border-bottom: 1px solid rgb(219, 219, 219);;
    border-right: 2px solid rgb(219, 219, 219);
    border-left: 2px solid rgb(219, 219, 219);
}

.container ul::-webkit-scrollbar {
    width: 12px;
  }
  
.container ul::-webkit-scrollbar-track {
    background: #cecece; /* 스크롤바 배경색 */
}

.container ul::-webkit-scrollbar-thumb {
    background-color: #5e8abd; /* 스크롤바 색상 */
    border-radius: 4px;
}

.container ul li:hover{
    background-color: #93b1d4;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
  }

  .modal-close-btn {
    padding: 8px 16px;
    background-color: #ffffff; /* 버튼 배경색 */
    color: rgb(0, 0, 0); /* 텍스트 색상 */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .modal-close-btn:hover {
    background-color: #c5ccee; /* 호버 시 배경색 변화 */
  }
  
  .modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    z-index: 99;
  }
  
  .modal-content {
    background-color: #6171ac2d;
    padding: 30px;
    border-radius: 16px;
    width: 350px; /* 모달 너비 */
    max-width: 80%; /* 최대 너비 설정 */
    text-align: center;
    color: white;
    border: 5px solid rgb(255, 255, 255);
  }
  
  .modal-sub {
    margin: 20px 0;
    font-size: 18px;
  }
  